	@include extjs-button-ui(

        'edifecs-applicationbar-large',

        $border-radius: 0,
        $border-width: 0,

        $border-color: transparent,
        $border-color-over: transparent,
        $border-color-focus: transparent,
        $border-color-pressed: transparent,
        $border-color-focus-over: transparent,
        $border-color-focus-pressed: transparent,
        $border-color-disabled: transparent,

        $padding: 25px 20px,
        $text-padding: 0px,

        $background-color: #2c3941,
        $background-color-over: #27333b,
        $background-color-focus: #FFFFFF,
        $background-color-pressed: #FFFFFF,
        $background-color-focus-over: #FFFFFF,
        $background-color-focus-pressed: #FFFFFF,
        $background-color-disabled: #2C3941,

        $background-gradient: color_stops(#2c3941,#2c3941),
        $background-gradient-over: color_stops(#27333b,#27333b),
        $background-gradient-focus: color_stops(#8daec8,#8daec8 6%,#FFFFFF 6%,#FFFFFF),
        $background-gradient-pressed: color_stops(#8daec8,#8daec8 6%,#FFFFFF 6%,#FFFFFF),
        $background-gradient-focus-over: color_stops(#8daec8,#8daec8 6%,#FFFFFF 6%,#FFFFFF),
        $background-gradient-focus-pressed: color_stops(#8daec8,#8daec8 6%,#FFFFFF 6%,#FFFFFF),
        $background-gradient-disabled: color_stops(#2C3941 0%,#2C3941 100%),

        $color: #B8BECA,
        $color-over: #FFFFFF,
        $color-focus: #2c3941,
        $color-pressed: #2c3941,
        $color-focus-over: #2c3941,
        $color-focus-pressed: #2c3941,
        $color-disabled: #B8BECA,

        $font-size: 13px,
        $font-size-over: 13px,
        $font-size-focus: 13px,
        $font-size-pressed: 13px,
        $font-size-focus-over: 13px,
        $font-size-focus-pressed: 13px,
        $font-size-disabled: 13px,

        $font-weight: bold,
        $font-weight-over: bold,
        $font-weight-focus: bold,
        $font-weight-pressed: bold,
        $font-weight-focus-over: bold,
        $font-weight-focus-pressed: bold,
        $font-weight-disabled: bold,

        $font-family: $button-large-font-family,
        $font-family-over: $button-large-font-family-over,
        $font-family-focus: $button-large-font-family-pressed,
        $font-family-pressed: $button-large-font-family-pressed,
        $font-family-focus-over: $button-large-font-family-focus-over,
        $font-family-focus-pressed: $button-large-font-family-focus-pressed,
        $font-family-disabled: $button-large-font-family-disabled,

        $icon-size: 20px,

        $glyph-color: $button-default-glyph-color,
        $glyph-opacity: $button-default-glyph-opacity,

        $arrow-width: $button-large-arrow-width,
        $arrow-height: $button-large-arrow-height,
        $split-width: $button-large-split-width,
        $split-height: $button-large-split-height,

        $opacity-disabled: 1.0,
        $inner-opacity-disabled: 0.3
    );

   @include extjs-button-ui(
      'edifecs-applicationbar-mousedown-large',

      $border-radius: 0px,
      $border-width: 0px,

      $border-color: transparent,
      $border-color-over: transparent,
      $border-color-focus: transparent,
      $border-color-pressed: transparent,
      $border-color-focus-over: transparent,
      $border-color-focus-pressed: transparent,
      $border-color-disabled: transparent,

      $padding: 25px 20px,
      $text-padding: 0px,

      $background-color: #2c3941,
      $background-color-over: #27333b,
      $background-color-focus: #27333b,
      $background-color-pressed: #53616a,
      $background-color-focus-over: #27333b,
      $background-color-focus-pressed: #53616a,
      $background-color-disabled: #2C3941,

      $background-gradient: color_stops(#2c3941,#2c3941),
      $background-gradient-over: color_stops(#27333b,#27333b),
      $background-gradient-focus: color_stops(#27333b,#27333b),
      $background-gradient-pressed: color_stops(#53616a,#53616a),
      $background-gradient-focus-over: color_stops(#27333b,#27333b),
      $background-gradient-focus-pressed: color_stops(#53616A,#53616A),
      $background-gradient-disabled: color_stops(#2C3941,#2C3941),

      $color: #B8BECA,
      $color-over: #FFFFFF,
      $color-focus: #FFFFFF,
      $color-pressed: #FFFFFF,
      $color-focus-over: #FFFFFF,
      $color-focus-pressed: #FFFFFF,
      $color-disabled: #B8BECA,

      $font-size: 13px,
      $font-size-over: 13px,
      $font-size-focus: 13px,
      $font-size-pressed: 13px,
      $font-size-focus-over: 13px,
      $font-size-focus-pressed: 13px,
      $font-size-disabled: 13px,

      $font-weight: bold,
      $font-weight-over: bold,
      $font-weight-focus: bold,
      $font-weight-pressed: bold,
      $font-weight-focus-over: bold,
      $font-weight-focus-pressed: bold,
      $font-weight-disabled: bold,

      $font-family: $button-large-font-family,
      $font-family-over: $button-large-font-family-over,
      $font-family-focus: $button-large-font-family-focus,
      $font-family-pressed: $button-large-font-family-pressed,
      $font-family-focus-over: $button-large-font-family-focus-over,
      $font-family-focus-pressed: $button-large-font-family-focus-pressed,
      $font-family-disabled: $button-large-font-family-disabled,

      $icon-size: 20px,
      $glyph-color: $button-toolbar-glyph-color,
      $glyph-opacity: $button-toolbar-glyph-opacity,
      $arrow-width: $button-large-arrow-width,
      $arrow-height: $button-large-arrow-height,
      $split-width: $button-large-split-width,
      $split-height: $button-large-split-height,

      $opacity-disabled: 1.0,
      $inner-opacity-disabled: 0.3
    );



   @include extjs-button-ui(
      'edifecs-applicationbar-submenu-large',

      $border-radius: 0px,
      $border-width: 0px,

      $border-color: transparent,
      $border-color-over: transparent,
      $border-color-focus: transparent,
      $border-color-pressed: transparent,
      $border-color-focus-over: transparent,
      $border-color-focus-pressed: transparent,
      $border-color-disabled: transparent,

      $padding: 25px 20px 0px 20px,
      $text-padding: 0px,

      $background-color: #2c3941,
      $background-color-over: #27333b,
      $background-color-focus: #27333b,
      $background-color-pressed: #FFFFFF,
      $background-color-focus-over: #27333b,
      $background-color-focus-pressed: #27333b,
      $background-color-disabled: #27333b,

      $background-gradient: color_stops(#2c3941,#2c3941),
      $background-gradient-over: color_stops(#27333b,#27333b),
      $background-gradient-focus: color_stops(#27333b,#27333b),
      $background-gradient-pressed: color_stops(#27333b,#27333b),
      $background-gradient-focus-over: color_stops(#27333b,#27333b),
      $background-gradient-focus-pressed: color_stops(#27333b,#27333b),
      $background-gradient-disabled: color_stops(#27333b,#27333b),

      $color: #B8BECA,
      $color-over: #FFFFFF,
      $color-focus: #FFFFFF,
      $color-pressed: #FFFFFF,
      $color-focus-over: #FFFFFF,
      $color-focus-pressed: #FFFFFF,
      $color-disabled: #8E969E,

      $font-size: 13px,
      $font-size-over: 13px,
      $font-size-focus: 13px,
      $font-size-pressed: 13px,
      $font-size-focus-over: 13px,
      $font-size-focus-pressed: 13px,
      $font-size-disabled: 13px,

      $font-weight: bold,
      $font-weight-over: bold,
      $font-weight-focus: bold,
      $font-weight-pressed: bold,
      $font-weight-focus-over: bold,
      $font-weight-focus-pressed: bold,
      $font-weight-disabled: bold,

      $font-family: $button-large-font-family,
      $font-family-over: $button-large-font-family-over,
      $font-family-focus: $button-large-font-family-focus,
      $font-family-pressed: $button-large-font-family-pressed,
      $font-family-focus-over: $button-large-font-family-focus-over,
      $font-family-focus-pressed: $button-large-font-family-focus-pressed,
      $font-family-disabled: $button-large-font-family-disabled,

      $icon-size: 20px,
      $glyph-color: $button-toolbar-glyph-color,
      $glyph-opacity: $button-toolbar-glyph-opacity,
      $arrow-width: $button-large-arrow-width,
      $arrow-height: $button-large-arrow-height,
      $split-width: $button-large-split-width,
      $split-height: $button-large-split-height,

      $opacity-disabled: 1.0,
      $inner-opacity-disabled: 0.3
   );

        .buttonMouseDownState
        {
            background-color: #53616a!important;
            background-image: none!important
        }

        .buttonMouseDownState .x-btn-inner
        {
          color : #FFFFFF !important;
        }

		.edifecslogo
		{
			width:240px;
			height:70px;
			text-align:center;
		}
	
		.headerbg
		{
			background:#2C3941;
			height:70px;
		} 
		
		.tbseprator
		{
			border-right:1px solid #465159!important;
			height:70px!important;
		}

		.x-btn-bottomArrowCls, .bottomArrowOverCls .x-btn-bottomArrowCls
		{
			background-image:url('./images/edifecs-components/carrot.png');
			background-position:right 7px;
			display:block;
			background-repeat:no-repeat;
		}

		.x-btn-bottomArrowCls-right, .bottomArrowOverCls .x-btn-bottomArrowCls-right
		{
			padding-right	:	17px;
		}

        .bottomArrowOverCls .x-btn-bottomArrowCls
        {
           background-image:url('./images/edifecs-components/carrot-active.png');
        }

        .x-btn-edifecs-applicationbar-submenu-large-icon-text-left .x-btn-inner
        {
            line-height:normal!important;
            padding-top:2px!important;
        }

        .userIconCls
        {
            background-position:top center!important;
        }
	/* Sub Menu Buttons */

		.subMenu-tab 
		{
			border-width:0px;
		}	
		
		.subMenu-tab .x-menu-body
		{
			background-color	: 	#27333b!important;
		}
		
		.subMenu-tab .x-menu-item
		{
			border			:	2px solid #27333b!important;
		}
		
		.subMenu-tab  .x-menu-item-link
		{
			padding			:	0px 20px;
			margin			:	0px;
			line-height		:	33px!important;
		}
		
		.subMenu-tab .x-menu-item-text
		{
			color			:	#FFFFFF;
			font-size		: 	12px;
			font-weight		:	bold;
			color			:	#FFFFFF;
		}
		
		.subMenu-tab .x-menu-item-active
		{
			background-color	:	#36444c!important;
			background-image	:	none!important;
			border				:	2px solid #27333B!important;
		}
	
	/* Sub Menu Buttons */