    /* buttongroup UI mixin */
	@include extjs-button-ui(
		'edifecs-groupbuttons-toolbar-small',
		$border-radius	: 	2px,
		$border-width	:	1px, 
	 
		$border-color : $button-default-border-color,
		$border-color-over : $button-default-border-color-over,
		$border-color-focus : $button-default-border-color-focus,
		$border-color-pressed : $button-default-border-color-pressed,
        $border-color-focus-over: $button-default-border-color-focus,
        $border-color-focus-pressed: $button-default-border-color-pressed,
		$border-color-disabled : $button-default-border-color-disabled,
	 
		$padding : 5px 12px 4px,
		$text-padding : 5px,
	        	 
		$background-color : #F8FAFC,
		$background-color-over : #FFFFFF,
		$background-color-focus : #FFFFFF,
		$background-color-pressed : #F4F7F8,
        $background-color-focus-over: #FFFFFF,
        $background-color-focus-pressed: #F4F7F8,
		$background-color-disabled : #F9FBFD,
	 
		$background-gradient : color_stops(#FFFFFF, #F8FAFC),
		$background-gradient-over : color_stops(#FFFFFF, #FFFFFF),
		$background-gradient-focus : color_stops(#FFFFFF, #FFFFFF),
		$background-gradient-pressed : color_stops(#F4F7F8, #F4F7F8),
        $background-gradient-focus-over: color_stops(#FFFFFF, #FFFFFF),
        $background-gradient-focus-pressed: color_stops(#F4F7F8, #F4F7F8),
		$background-gradient-disabled : color_stops(#F9FBFD, #F9FBFD),
	 
		$color : $button-default-base-color,
		$color-over : $button-default-base-color-over,
		$color-focus : $button-default-base-color-focus,
		$color-pressed : $button-default-base-color-pressed,
        $color-focus-over: $button-default-base-color-focus,
        $color-focus-pressed: $button-default-base-color-pressed,
		$color-disabled : $button-default-base-color-disabled,
	 
		$font-size : $font-size,
		$font-size-over : $font-size,
		$font-size-focus : $font-size,
		$font-size-pressed : $font-size,
        $font-size-focus-over: $font-size,
        $font-size-focus-pressed: $font-size,
		$font-size-disabled : $font-size,
	 
		$font-weight : bold,
		$font-weight-over : bold,
		$font-weight-focus : bold,
		$font-weight-pressed : bold,
        $font-weight-focus-over: bold,
        $font-weight-focus-pressed: bold,
		$font-weight-disabled : bold,
	 
		$font-family : $button-small-font-family,
		$font-family-over : $button-small-font-family-over,
		$font-family-focus : $button-small-font-family-focus,
		$font-family-pressed : $button-small-font-family-pressed,
        $font-family-focus-over: $button-small-font-family-focus,
        $font-family-focus-pressed: $button-small-font-family-pressed,
		$font-family-disabled : $button-small-font-family-disabled,

		$icon-size : 16px,
		
        $glyph-color : $button-toolbar-glyph-color,
        $arrow-width : $button-small-arrow-width,
        $arrow-height : $button-small-arrow-height,
        $split-width : $button-small-split-width,
        $split-height : $button-small-split-height
	);

	/* custom button group css */
	.first-btn-radius{border-radius:2px 0px 0px 2px;}
	.last-btn-radius{border-radius:0px 2px 2px 0px;border-left-color:#fff;border-left-width:0px!important;}
	.btn-radius{border-radius:2px;}
	.middle-btn-radius{border-radius:0px 0px 0px 0px;border-left-color:#fff;border-left-width:0px!important;}

/*
    @include extjs-btn-group-ui(
		$ui-label : 'edifecs-buttongroup',
		$ui-background-color : transparent,
		$ui-border-color : $button-default-border-color,
		$ui-border-width : 0px,
		$ui-border-radius : 0px
	);*/
