	@include extjs-button-ui(
		'edifecs-doormateNavigation-appbar-medium',

		$border-radius: 0px,
		$border-width: 0px,

		$border-color: transparent,
		$border-color-over: transparent,
		$border-color-focus: transparent,
		$border-color-pressed: transparent,
        $border-color-focus-over: transparent,
        $border-color-focus-pressed: transparent,
		$border-color-disabled: transparent,
		
		$padding: 23px 17px,
		$text-padding: 0px,
		
		$background-color: #2C3941,
		$background-color-over: #27333B,
		$background-color-focus: #27333B,
		$background-color-pressed: #75848E,
        $background-color-focus-over: #27333B,
        $background-color-focus-pressed: #75848E,
		$background-color-disabled: #2C3941,
		
		$background-gradient: color_stops(#2c3941,#2c3941),
		$background-gradient-over: color_stops(#27333B,#27333B),
		$background-gradient-focus: color_stops(#27333B,#27333B),
		$background-gradient-pressed: color_stops(#75848E,#75848E),
        $background-gradient-focus-over: color_stops(#27333B,#27333B),
        $background-gradient-focus-pressed: color_stops(#75848E,#75848E),
		$background-gradient-disabled: color_stops(#2C3941,#2C3941),
		
		$color: #B8BECA,
		$color-over: #FFFFFF,
		$color-focus: #FFFFFF,
		$color-pressed: #2c3941,
        $color-focus-over: #FFFFFF,
        $color-focus-pressed: #2c3941,
		$color-disabled: #B8BECA,
	 
		$font-size: 13px,
		$font-size-over: 13px,
		$font-size-focus: 13px,
		$font-size-pressed: 13px,
        $font-size-focus-over: 13px,
        $font-size-focus-pressed: 13px,
		$font-size-disabled: 13px,
	 
		$font-weight: bold,
		$font-weight-over: bold,
		$font-weight-focus: bold,
		$font-weight-pressed: bold,
        $font-weight-focus-over: bold,
        $font-weight-focus-pressed: bold,
		$font-weight-disabled: bold,
	 
		$font-family: $button-medium-font-family,
		$font-family-over: $button-medium-font-family-over,
		$font-family-focus: $button-medium-font-family-focus,
		$font-family-pressed: $button-medium-font-family-pressed,
        $font-family-focus-over: $button-medium-font-family-focus,
        $font-family-focus-pressed: $button-medium-font-family-focus,
		$font-family-disabled: $button-medium-font-family-disabled,

		$icon-size: 24px,
		
		$glyph-color: $button-toolbar-glyph-color,
		$glyph-opacity: $button-toolbar-glyph-opacity,
		$arrow-height: $button-large-arrow-height,
		$split-width: $button-large-split-width,
		$split-height: $button-large-split-height,

		$opacity-disabled: $button-toolbar-opacity-disabled,
		$inner-opacity-disabled: 0.3
	);

	@include extjs-button-ui(
		'edifecs-doormateNavigation-appbar-submenu-medium', 
		
		$border-radius: 0px,
		$border-width: 0px,

		$border-color: transparent,
		$border-color-over: transparent,
		$border-color-focus: transparent,
		$border-color-pressed: transparent,
        $border-color-focus-over:transparent,
        $border-color-focus-pressed:transparent,
		$border-color-disabled: transparent,
		
		$padding: 23px 17px,
		$text-padding: 0px,

        $background-color: #2C3941,
        $background-color-over: #27333B,
        $background-color-focus: #27333B,
        $background-color-pressed: #75848E,
        $background-color-focus-over: #27333B,
        $background-color-focus-pressed: #75848E,
        $background-color-disabled: #2C3941,

        $background-gradient: color_stops(#2c3941,#2c3941),
        $background-gradient-over: color_stops(#27333B,#27333B),
        $background-gradient-focus: color_stops(#27333B,#27333B),
        $background-gradient-pressed: color_stops(#75848E,#75848E),
        $background-gradient-focus-over: color_stops(#27333B,#27333B),
        $background-gradient-focus-pressed: color_stops(#75848E,#75848E),
        $background-gradient-disabled: color_stops(#2C3941,#2C3941),
		
		$color: #B8BECA,
		$color-over: #FFFFFF,
		$color-focus: #FFFFFF,
		$color-pressed: #2C3941,
        $color-focus-over: #FFFFFF,
        $color-focus-pressed: #2C3941,
		$color-disabled: #B8BECA,
	 
		$font-size: 13px,
		$font-size-over: 13px,
		$font-size-focus: 13px,
		$font-size-pressed: 13px,
        $font-size-focus-over: 13px,
        $font-size-focus-pressed: 13px,
		$font-size-disabled: 13px,
	 
		$font-weight: bold,
		$font-weight-over: bold,
		$font-weight-focus: bold,
		$font-weight-pressed: bold,
        $font-weight-focus-over: bold,
        $font-weight-focus-pressed: bold,
		$font-weight-disabled: bold,
	 
		$font-family: $button-large-font-family,
		$font-family-over: $button-large-font-family-over,
		$font-family-focus: $button-large-font-family-focus,
		$font-family-pressed: $button-large-font-family-pressed,
        $font-family-focus-over: $button-large-font-family-focus,
        $font-family-focus-pressed: $button-large-font-family-focus,
		$font-family-disabled: $button-large-font-family-disabled,

		$icon-size: 24px,
        $glyph-color: $button-toolbar-glyph-color,
        $glyph-opacity: $button-toolbar-glyph-opacity,
        $arrow-width: $button-large-arrow-width,
        $arrow-height: $button-large-arrow-height,
        $split-width: $button-large-split-width,
        $split-height: $button-large-split-height,

        $opacity-disabled: $button-toolbar-opacity-disabled,
		$inner-opacity-disabled: 0.3
	);
	
	@include extjs-toolbar-ui(
		'edifecs-applicationbar-notification',
		$background-color: #FFFFFF,
		$background-gradient: color_stops(#FFFFFF,#FFFFFF),
		$border-color: transparent
	); 


    /* remove extra arrow from menu button */
	.removeArrowCls	{
		background-image: none;
		padding: 0px;
	}

    /* notification no css */
    .notificationNo
    {
      background-color: #EB5215;
      border-color: #EB5215;
      border-image: none;
      border-radius: 8px 8px 8px 8px;
      border-style: solid;
      border-width: 1px;
      -moz-box-shadow: 0 -1px 0 rgba(50, 50, 50, 0.5);
      box-shadow: 0 -1px 0 rgba(50, 50, 50, 0.5);
      -webkit-box-shadow: 0 -1px 0 rgba(50, 50, 50, 0.5);
      color: #FFFFFF;
      font-size: 10px;
      font-weight: bold;
      height: 11px;
      left: 36px;
      line-height: 9px !important;
      *line-height: 10px !important;
      padding: 0 4px;
      position: absolute;
      top: 27px;
      z-index: 9999;
    }

    /* user menu css */
	.subMenu
	{
		border-width:0px;
	}

	.subMenu .x-menu-body
	{
		background-color	: 	#75848E!important;
	}
		
	.subMenu .x-menu-item 
	{
		padding			:	2px 20px;
		margin			:	0px 2px;
	}

	.subMenu .x-menu-item-active
	{
		background-color	:	#5F6F79!important;
		background-image	:	none!important;
	}
	
	.subMenu  .x-menu-item-link
	{
		padding			: 	0px;
		margin			:	0px;
		line-height		:	28px!important;
	}

	.subMenu  .x-menu-item-text
	{
		color			:	#FFFFFF;
        margin          :   0px;
		font-size		: 	11px;
		font-weight		:	bold;
	}

    .subMenu .firstMenuItem
    {
      border-bottom : 1px solid #89949C !important
    }

    .subMenu ul
    {
      list-style        :   none outside none;
      margin            :   0;
      padding           :   0;
      display           :   inline-block;
    }

    .subMenu ul li
    {
      font-size: 12px;
    }

    .subMenu  ul li.description
    {
      color             :   #CAD2D8;
      float             :   left;
      font-size         :   10px;
      font-weight       :   bold;
      line-height       :   10px!important;
      padding-bottom    :   8px;
    }

    /* favourite items css */
	.favouriteHeading
    {
        border-bottom   : 1px solid #E6EBED;
        font-size       : 10px;
        font-weight     : bold;
        padding-bottom  : 3px;
        padding-left    : 0px;
        display         : inline-block;
        width           : 100%;
    }
	.items
    {
        padding         : 7px 0px;
        float           : left;
        width           : 100%;
    }

    .items:hover
    {
        background-color: #f5f7f8;
    }

	.items a
    {
        color           : #596873;
        float           : left;
        padding-left    : 5px;
        padding-top     : 2px;
        text-decoration : none;
    }
	.items a:hover
    {
        text-decoration : none;
        color           : #247cdf;
    }

    /* notification css */
	.notificationtr
    {
        float         : left;
        width         : 100%;
        padding       : 8px 2px;
        border-bottom : 1px solid #f0f3f4;
    }

    .notificationtr:hover
    {
      background-color: #f5f7f8;
    }

	.notificationtext
    {
        padding       : 0px 0px 0px 5px;
        font-size     : 11px;
        color         : #596873;
        white-space   : normal;
    }

    .notificationtext a
    {
      font-size: 11px;
      color:#247cdf;
      text-decoration: none;
    }

    .notificationtext a:hover
    {
      text-decoration: underline;
    }

	.showAllNotification
    {
        font-size     : 10px;
        color         : #247cdf;
        font-weight   : bold;
        cursor        : pointer;
    }
	.showAllNotificationContainer
    {
        text-align    : center;
        float         : left;
        padding-top   : 7px;
    }
	.floatLeft
    {
        float         : left;
    }
	.floatRight
    {
        float         : right;
    }

	