/* buttongroup UI mixin */
@include extjs-button-ui(
  'edifecs-multiselect-toolbar-small',
  $border-radius	: 	2px,
  $border-width	  :	1px,

  $border-color : $button-default-border-color,
  $border-color-over : $button-default-border-color,
  $border-color-focus : $button-default-border-color,
  $border-color-pressed : $button-default-border-color-pressed,
  $border-color-focus-over: $button-default-border-color,
  $border-color-focus-pressed: $button-default-border-color-pressed,
  $border-color-disabled : $button-default-border-color-disabled,

  $padding : 0px 12px 0px,
  $text-padding : 5px,

  $background-color : #F8FAFC,
  $background-color-over : #F8FAFC,
  $background-color-focus : #F8FAFC,
  $background-color-pressed : #CFE2F3,
  $background-color-focus-over : #F8FAFC,
  $background-color-focus-pressed : #CFE2F3,
  $background-color-disabled : #F8FAFC,

  $background-gradient : color_stops(#F8FAFC, #F8FAFC),
  $background-gradient-over : color_stops(#F8FAFC, #F8FAFC),
  $background-gradient-focus : color_stops(#F8FAFC, #F8FAFC),
  $background-gradient-pressed : color_stops(#CFE2F3, #CFE2F3),
  $background-gradient-focus-over : color_stops(#F8FAFC, #F8FAFC),
  $background-gradient-focus-pressed : color_stops(#CFE2F3, #CFE2F3),
  $background-gradient-disabled : color_stops(#F9FBFD, #F9FBFD),

  $color : $button-default-base-color,
  $color-over : $button-default-base-color-over,
  $color-focus : $button-default-base-color-focus,
  $color-pressed : $button-default-base-color-pressed,
  $color-focus-over: $button-default-base-color-focus,
  $color-focus-pressed: $button-default-base-color-pressed,
  $color-disabled : $button-default-base-color-disabled,

  $font-size : $font-size,
  $font-size-over : $font-size,
  $font-size-focus : $font-size,
  $font-size-pressed : $font-size,
  $font-size-focus-over : $font-size,
  $font-size-focus-pressed : $font-size,
  $font-size-disabled : $font-size,

  $font-weight : normal,
  $font-weight-over : normal,
  $font-weight-focus : normal,
  $font-weight-pressed : normal,
  $font-weight-focus-over : normal,
  $font-weight-focus-pressed : normal,
  $font-weight-disabled : normal,

  $font-family : $button-small-font-family,
  $font-family-over : $button-small-font-family-over,
  $font-family-focus : $button-small-font-family-focus,
  $font-family-pressed : $button-small-font-family-pressed,
  $font-family-focus-over : $button-small-font-family-focus,
  $font-family-focus-pressed : $button-small-font-family-pressed,
  $font-family-disabled : $button-small-font-family-disabled,

  $icon-size : 16px,

  $glyph-color : $button-toolbar-glyph-color,
  $arrow-width : $button-small-arrow-width,
  $arrow-height : $button-small-arrow-height,
  $split-width : $button-small-split-width,
  $split-height : $button-small-split-height
);

/* custom button group css */
.first-btn-radius{border-radius:2px 0px 0px 2px;}
.last-btn-radius{border-radius:0px 2px 2px 0px;border-left-color:#fff;border-left-width:0px!important;}
.btn-radius{border-radius:2px;}
.middle-btn-radius{border-radius:0px 0px 0px 0px;border-left-color:#fff;border-left-width:0px!important;}


ul.tags {margin:10px 10px 15px 0px;padding:0px;display:inline-block;height:100%;width:223px;}

ul.tags li
{
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  display: inline-block;
  height: 20px;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin:3px 3px 3px 0px;
}

ul.tags li span.text
{
  display: inline-block;
  color: #222;
  margin: 2px 5px;
  max-width: 325px;
  max-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.tags li:hover{
  background-color: #E7EBF0;
}

ul.tags span.closetag{
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../resources/images/tab/tab-default-close.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.tooltip .x-panel-header {
  padding: 0px;
}

.multi-select .collapseCls
{
  left: 0 !important;
}

.multi-select .x-panel-header-text-container
{
  padding-left: 18px;
}

.multi-select .x-panel-header-default-horizontal-noborder
{
  padding:0px;
}

.tooltipShadow
{
  box-shadow: 0px 0px 4px #ccc;
}

.multi-select .title
{
  font-size: 10px;
  color:#5d7385;
  font-weight: normal;
  padding-left: 5px;
}

.toolttipTitle
{
  float:left;
  font-weight:normal;
}