// tabbar
$tabbar-scroller-width: 20px !default;
$tabbar-scroller-height: 21px !default;
$tabbar-padding: 0px  !default;
$tabbar-plain-padding: 0 !default;



$tabbar-scroller-opacity: .5 !default;
$tabbar-scroller-opacity-over: .7 !default;
$tabbar-scroller-opacity-pressed: .9 !default;
$tabbar-scroller-opacity-disabled: .25 !default;
$tabbar-scroller-include-hover-background-position: false !default;


$tabbar-border-width: 0 !default;

$tabbar-strip-height: 3px !default;
$tabbar-strip-border-width: 0px !default;
$tabbar-strip-border-color: #7499b8 !default; 
$tabbar-strip-plain-border-width: 0px 0px 0px 0px !default;

$tabbar-scroller-symmetrical-icons: false !default;
$tabbar-classic-scrollers: true !default;