$tab-base-color: #fff !default;
$tab-base-color-over: #f3f6f8 !default;
$tab-base-color-active: #8daec8 !default;
$tab-base-color-disabled: #ffffff !default;

$tab-color: #5d7385 !default;
$tab-color-over: #2c3941 !default;
$tab-color-active: #ffffff !default;
$tab-color-disabled: #c3ccd3 !default;

$tab-font-size: 12px !default; 
$tab-font-weight: normal !default;

$tab-background-gradient: $tab-base-color !default;
$tab-background-gradient-over: $tab-base-color-over !default;
$tab-background-gradient-active: $tab-base-color-active !default;
$tab-background-gradient-disabled: $tab-base-color-disabled !default;

//borders
$tab-border-radius: 2px 2px 0 0 !default;
$tab-border-width: 1px 1px 0px 1px !default;
$tab-inner-border-width: 0px !default;

$tab-border-color: #d4dde3 #d4dde3 transparent #d4dde3 !default;

$tab-border-color-active: #7499b8 #7499b8 #8daec8 #7499b8 !default;
$tab-border-color-over: #d4dde3 !default;  
$tab-border-color-disabled: #d4dde3 !default;

$tab-padding: 4px 10px !default;

//size
$tab-line-height: 16px !default;
$tab-margin: 0 1px 0 0 !default;

//closable tab
$tab-text-opacity-disabled: .6 !default;
$tab-closable-icon-width: 11px !default;
$tab-closable-icon-height: 11px !default;
$tab-closable-icon-include-hover-background-position: true !default;
$tab-closable-icon-include-pressed-background-position: true !default;
$tab-closable-icon-spacing: 7px !default;
$tab-closable-icon-top : 7px !default;
$tab-closable-icon-right : 7px !default;


$tab-icon-width: 16px !default;
$tab-icon-height: 16px !default;
$tab-icon-spacing: 4px !default;