$grid-grouped-title-color: #8593a0 !default;
$grid-grouped-title-font: bold $font-size $font-family !default; //new
$grid-grouped-header-border-width: 0 0 1px 0 !default;
$grid-grouped-header-border-color: #cad4dd !default;
$grid-grouped-header-padding: 8px 4px 8px 4px !default;
$grid-grouped-icon-padding: 0 0 0 14px !default; 
$grid-grouped-header-background-color: #FFFFFF !default;