$grid-column-header-font: normal $font-size arial,helvetica,verdana,sans-serif !default; //new
$grid-column-header-color: #78838d !default;

// TODO: if calculated, this could be removed
$grid-column-align-right-margin: 16px !default;