/**
 * @class Ext.form.Labelable
 */
$form-label-font-color: #78838d !default;
$form-label-font-weight: normal !default;
$form-label-font-size: $font-size !default; //new
$form-label-font-family: $font-family !default;
$form-label-line-height: 14px !default;
$form-error-msg-color: #ce0606 !default;
$form-error-msg-line-height: 16px !default;

$form-error-icon-side-margin: 0 1px !default;

$form-error-msg-font-weight: normal !default;
$form-error-msg-font-size: $font-size !default;