$accordion-header-color: #5d7385 !default;
$accordion-header-font-weight: normal !default;
$accordion-header-background-color: #f8fafc !default;
$accordion-header-over-background-color: #fbfcfd !default;
$accordion-header-tool-size: 15px !default;
$accordion-background-color: #FFFFFF !default;
$accordion-padding: 0px !default;
$accordion-header-padding: 2px 10px 2px 10px !default;
$accordion-item-margin: 0px !default;
$accordion-tool-background-image: 'tools/tool-sprites' !default;
