$colorpicker-item-height: 18px !default;
$colorpicker-item-width: 18px !default;
$colorpicker-item-border-color: #ffffff !default;
$colorpicker-item-border-color-over: #8bb8f3 !default;
$colorpicker-item-background-color-over: #deecfd !default;