/**
 * @class Ext.form.field.Base
 */
$form-field-height: 26px !default;
$form-field-padding: 3px 7px !default;
$form-field-font-weight: normal !default;
$form-field-color: #000 !default;
$form-field-empty-color: #8498a8 !default;
$form-field-border-color: #cad4dd !default;
$form-field-border-width: 1px !default;
$form-field-border-style: solid !default;
$form-field-focus-border-color: #a6bdd1 !default;
$form-field-invalid-border-color: #c74c4c !default;
$form-field-background-color: #fff !default;
$form-field-background-image: null !default;
$form-field-invalid-background-color: #fff !default;
$include-field-toolbar-ui: $include-default-uis and $include-ext-toolbar-toolbar !default;
$form-toolbar-field-height: $form-field-height !default;
$form-field-disabled-opacity: 0.5 !default;





/* New */
$form-textarea-line-height:20px !default;
