$form-trigger-width: 25px !default;
$form-toolbar-trigger-height: $form-toolbar-field-height !default;

$form-trigger-border-bottom-width: 0px !default;
$form-trigger-border-bottom-style: solid !default;
$form-trigger-border-bottom-color: $form-field-border-color !default;
$form-trigger-border-bottom: $form-trigger-border-bottom-width $form-trigger-border-bottom-style $form-trigger-border-bottom-color !default;

$form-trigger-border-bottom-color-over: $form-field-border-color !default;
$form-trigger-border-bottom-color-focus: #81B3DF !default;
$form-trigger-border-bottom-color-focus-over: #81B3DF !default;
$form-trigger-border-bottom-color-pressed: #81B3DF !default;