$grid-row-height: 30px !default;
$grid-row-cell-color : #000000 !default;
$grid-cell-border-width: 1px !default;
$grid-row-cell-focus-border-color: #EAEFF2 !default;

// Row height *within* borders. Eventual height will be 25 (border:collapse)
$grid-row-cell-line-height : 26px !default;
$grid-row-line-height-increment: 0px !default;

//Edifecs-theme cells
$grid-cell-inner-padding: 2px 6px 2px !default;
$grid-row-cell-border-color: #eaeff2 !default;
$grid-row-cell-background-color: #FFFFFF !default;
$grid-row-cell-alt-background-color : #fbfcfd !default;
$grid-row-cell-font-size: $font-size;
$grid-row-cell-border-width: 1px !default;

//cell with col lines
$grid-cell-with-col-lines-border-color: $grid-row-cell-border-color !default;

//row cell over
$grid-row-cell-over-border-color: #EAEFF2 !default;
$grid-row-cell-over-background-color: #f4f7f8 !default;
$grid-row-cell-over-background-gradient: null !default;

//row cell selected
$grid-row-cell-selected-border-style: solid !default;
$grid-row-cell-selected-border-color: #EAEFF2 !default;
$grid-row-cell-selected-background-color: #e2f3ff !default;

// special cells
$grid-cell-special-background-color: transparent !default;
$grid-cell-special-background-gradient: null !default;
$grid-cell-special-border-width: $grid-row-cell-border-width !default;
$grid-cell-special-border-color: $grid-row-cell-border-color !default;
$grid-cell-special-selected-border-color: $grid-row-cell-border-color !default;
$grid-cell-special-over-background-color: $grid-row-cell-over-background-color !default;

//row cell focus
$grid-row-cell-focus-border-color: $grid-row-cell-over-border-color !default;
$grid-row-cell-focus-border-style: solid !default;
$grid-row-cell-focus-color: $grid-row-cell-color !default;
$grid-row-cell-focus-background-color: #E2F3FF !default;
$grid-row-cell-focus-border-width: 0px !default;



$grid-body-border-color: #E7EBF0 !default;
$grid-body-border-width: 1px !default;