$grid-header-background-color: #f3f5f7 !default;
$grid-header-background-gradient: color_stops(#f3f5f7,#f3f5f7) !default;
$grid-header-border-color: #e7ebf0 !default;
$grid-header-over-background-color: 'grid-header-over' !default;
$grid-header-over-trigger-background-color: 'grid-header-over' !default;
$grid-header-over-background-gradient: 'grid-header-over' !default;
$grid-header-padding: 8px 10px !default;
$grid-header-sort-icon-spacing: 7px !default;
$grid-header-trigger-height :  300px !default;
$grid-header-trigger-width :  25px !default;